#root,
body,
html {
    padding: 0;
    margin: 0;
}

.nowrap {
    white-space: nowrap;
}

.ButtonsPanel {
    display: flex;
    justify-content: space-around;
}

#root {
    .size-48 {
        font-size: 32px;
    }
}
